@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center container">

    <h3> Página Inicial </h3>
</div>


@section Scripts{

    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/modal-logic.js"></script>

}




